.background{
    height: 100%;
    background-color: green !important;
}

.title{
    font-size: 80px;
    margin-left: 20%;
    color: white;
}
.form-home{
    margin-top: 50px;
    text-align: right;
}

.btn-main {
    line-height: 6.5 !important;
    margin: 25px;
    width: 250px;
}