.background{
    height: 100%;
    background-color: #75f9a1 !important;
}
.header{
    background-color: #F8F9FA !important;
    border-bottom: 2px solid;
}
.title{
    font-size: 80px;
    margin-left: 20%;
}
.form-home{
    margin-top: 50px;
    text-align: right;
}

.btn-main {
    line-height: 6.5 !important;
    margin: 25px;
    width: 250px;
}