<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/header :: head"></div>
<body class="background">
<div class="container-fluid">

    <div th:replace="fragments/header :: header"></div>

    <div class="row">
        <div class="offset-md-2 col-md-4">
            <form class="form-home"action="#" th:action="@{/account}" th:object="${user}" method="post">
                تعديل حسابك
                <div class="form-group">
                    <label for="id">الرقم الوظيفي</label>
                    <input type="text" class="form-control" name="id" id="id" th:field="*{id}" th:value="${user.id}" readonly>
                </div>

                <div class="form-group">
                    <label for="role">المهنه</label>
                    <input type="text" class="form-control" name="role" id="role" th:field="*{role}" th:value="${user.role}" readonly>
                </div>

                <div class="form-group">
                    <label for="name">الاسم</label>
                    <input type="text" class="form-control" name="name" id="name" th:field="*{name}" th:value="${user.name}">
                </div>

                <div class="form-group">
                    <label for="region">المنطقه</label>
                    <input type="text" class="form-control" name="region" id="region" th:field="*{region}" th:value="${user.region}">
                </div>

                <div class="form-group">
                    <label for="phonenumber">رقم الهاتف</label>
                    <input type="text" class="form-control" name="phonenumber" id="phonenumber" th:field="*{phonenumber}" th:value="${user.phonenumber}">
                </div>
                <div class="form-group">
                    <label for="password">كلمة المرور</label>
                    <input type="password" class="form-control" name="password" id="password" th:field="*{password}" th:value="${user.password}">
                </div>
                <button type="submit" class="btn btn-primary">تعديل</button>
                <p th:text=" ${message} " />
            </form>

            <a type="button" class="btn btn-primary" href="/home">رجوع</a>
        </div>
    </div>

</div>
<div th:replace="fragments/footer :: script"></div>
</body>
</html>