<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/header :: head"></div>
<body class="background">
<div class="container-fluid">

    <div th:replace="fragments/header :: header"></div>

    <div class="row">
        <div class="offset-md-2 col-md-4">
            <button type="button" class="btn btn-secondary btn-lg btn-main">قائمة البلاغات</button>
        </div>
        <div class="col-md-4">
            <button type="button" class="btn btn-secondary btn-lg btn-main">إدارة الموظفين</button>
        </div>
        <div class="offset-md-2 col-md-4 ">
            <button type="button" class="btn btn-secondary btn-lg btn-main">الإحصائيات</button>
        </div>
        <div class="col-md-4">
            <a type="button" class="btn btn-secondary btn-lg btn-main" href="/account">حسابي</a>
        </div>
    </div>

</div>
<div th:replace="fragments/footer :: script"></div>
</body>
</html>