<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/header :: head"></div>
<body class="background">
<div class="container-fluid">

    <div th:replace="fragments/header :: header"></div>

    <div class="row">
        <div class="offset-md-2 col-md-4">
            <a type="button" class="btn btn-primary  btn-lg btn-main" href="/incident"><i class="fab fa-elementor"></i> قائمة البلاغات </a>
        </div>
        <div class="col-md-4">
            <a type="button" class="btn btn-primary  btn-lg btn-main" href="/employee"><i class="fas fa-users"></i> إدارة الموظفين </a>
        </div>
        <div class="offset-md-2 col-md-4 ">
            <a type="button" class="btn btn-primary  btn-lg btn-main"><i class="fas fa-chart-line"></i>  الإحصائيات  </a>
        </div>
        <div class="col-md-4">
            <a type="button" class="btn btn-primary  btn-lg btn-main" href="/account"> <i class="fas fa-user"></i> حسابي  </a>
        </div>
    </div>

</div>
<div th:replace="fragments/footer :: script"></div>
</body>
</html>