<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/header :: head"></div>
<body class="background">
<div class="container-fluid">

    <div th:replace="fragments/header :: header"></div>

    <div class="row">
        <div class="offset-md-2 col-md-8">
            <table class="table table-striped">
                <thead>
                <tr>
                    <td>رقم البلاغ</td>
                    <td>النوع</td>
                    <td>الموقع</td>
                    <td>التاريخ</td>
                    <td>حاله البلاغ</td>
                    <td> -- </td>
                </tr>
                </thead>
                <tbody>
                <th:block th:each="incident : ${incidents}">
                    <tr>
                        <td th:text="${incident.id}"/>
                        <td th:text="${incident.type}"/>
                        <td th:text="${incident.location}"/>
                        <td th:text="${incident.dateTime}"/>
                        <td th:text="${incident.status}"/>
                        <td>
                            <a th:href="@{/incident/{id}(id=${incident.id})}">الوصف</a>
                        </td>
                    </tr>
                </th:block>
                </tbody>
            </table>

            <a type="button" class="btn btn-primary" href="/home">رجوع</a>
        </div>
    </div>

</div>
<div th:replace="fragments/footer :: script"></div>
</body>
</html>