<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/header :: head"></div>
<body class="background">
<div class="container-fluid">

    <div th:replace="fragments/header :: header"></div>

    <div class="row">
        <div class="offset-md-2 col-md-6">
            <form class="form-home" action="/home" method="post">
                <div class="form-group">
                    <label for="id">الرقم الوظيفي</label>
                    <input type="text" class="form-control" name="id" id="id" placeholder="ادخل الرقم الوظيفي">
                </div>
                <div class="form-group">
                    <label for="password">كلمة المرور</label>
                    <input type="password" class="form-control" name="password" id="password" placeholder="ادخل كلمة المرور">
                </div>
                <button type="submit" class="btn btn-primary">دخول</button>
                <p th:text=" ${message} " />
            </form>
        </div>
    </div>

</div>
<div th:replace="fragments/footer :: script"></div>
</body>
</html>